.product-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 45px;
}

.drop-down{
    padding: 10px;
    border-radius: 7px;
    border: 2px solid #BC8F8F;
    background-color: #f8f8f8;
    color: #333;
    cursor: pointer;
    width: 200px;
    font-size: 16px;
}

.filter-cont{
    display: flex;
    align-items: center;
}
.filter-cont p{
    margin-right: 8px;
}

@media (max-width:600px){
    .product-title{
        flex-direction: column;
        align-items: start;
        margin-bottom: 20px;
    }
    .product-title h1{
        margin-bottom: 10px;
    }
    .drop-down{
        padding: 5px;
        border-radius: 5px;
        border: 2px solid #BC8F8F;
        background-color: #f8f8f8;
        color: #333;
        cursor: pointer;
        font-size: 16px;
    }
    .filter-cont{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    
}

#product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9EBEA;
    padding: 70px 10%;
    
}
.main-container{
    width: 100%;
}
.main-container h1{
    margin-bottom: 30px;
}

.product-top-info h4{
    font-weight: 400;
    font-size:  24px;
}
.product-top-info a{
    text-decoration: none;
}
.product-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 20px;
}

@media only screen and (max-width: 600px) {
    .product-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:8px;
    }
    #product{
        padding: 70px 3%;
    }
}
  
@media only screen and (min-width: 601px) and (max-width: 900px) {
    /* CSS styles for medium devices */
    .product-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
        column-gap: 40px;
    }
}
@media only screen and (min-width: 901px) and (max-width: 1200px) {
    /* CSS styles for medium devices */
    .product-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 20px;
        column-gap: 20px;
    }
}