#footer{
     background-color: #5D5857;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 30px 5%;
   }
   .footer-container{
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     max-width: 1100px;
   }
   .footer-text-container{
     display: flex;
     justify-content: start;
     flex: 1;
     padding: 0 30px;
   }
   .footer-text{
     margin-right: 35px;
     text-align: left;
   }
   .footer-text-container > :last-child {
     margin-right: 0;
   }
   
   .footer-text h4{
     color: #F5B7B1;
     font-weight: 600;
     font-size: 20px;
   }
   .footer-text a{
     text-decoration: none;
   }
   .footer-text p{
     color: #ffffff;
     font-weight: 300;
     font-size: 18px;
   }
   .footer-icons{
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .footer-icons a{
     margin-left: 10px;
   }
   .footer-icons a:first-child {
     margin-left: 0;
   }
   @media screen and (max-width: 600px) {
     #footer{
         background-color: #5D5857;
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 30px 8% 30px 6%;
     }
     .footer-icons{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }
     .footer-logo{
         width: 100px;
     }
     .footer-icons a{
         margin-left: 0;
         margin-top: 5px;
     }
     .footer-icons img{
         width:30px;
     }
   
     .footer-icons a:first-child {
         margin-top: 0;
     }
   
   }

