#pro-nav{
    padding: 0 25px;
    background-color: #F9EBEA;
    display: flex;
    justify-content: center;
}
.pro-max-cont {
  display: flex;
  justify-content: start;
  align-items: center; /* Ensures vertical alignment */
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  gap: 10px; /* Adds space between elements */
  width: 100%;
  max-width: 1150px;
  margin-top: 60px;
}
.bread-pro-name{
    cursor: default;
}
.pro-max-cont img{
    width: 9px;
}

@media (max-width:800px) {
    .pro-max-cont {
        margin-top: 40px;
    }
}

