#pro-nav{
    padding: 0 5%;
    background-color: #F9EBEA;
    display: flex;
    justify-content: center;
}
.pro-max-cont{
    display: flex;
    justify-content: start;
    width: 100%;
    max-width: 1000px;
    margin-top: 60px;
}
.link{
    text-decoration:none ;
}
#pro-nav img{
    margin-right: 10px;
    margin-left: 5px;
}
#pro-nav p{
    font-size: 24px;
    margin-right:6px;
    
}

@media (max-width:600px) {
    #pro-nav p{
        font-size: 18px;
        font-weight: 500;
    }
    #pro-nav img{
        width: 7px;
        margin-right: 5px;
        margin-left: 2px;
    }
}